{#
/**
 * @file
 * Home page Slider block template.
 *
 * @ingroup themeable
 */
#}


<section {{ attributes.addClass('basic-info') }}>
  <div class="basic-info-wr">
    <ul class="basic-info-lists">
      {{ content.field_featured_pages }}
    </ul>
  </div>
</section>
