{#
/**
 * @file
 * Home page Slider block template.
 *
 * @ingroup themeable
 */
#}

<section {{ attributes.addClass('special-animal') }}>
    <div class="special-animal-wr">
        <div class="special-animal-inner">
          {{ content.field_home_featured_animal }}
        </div>
    </div>
</section>

