{#
/**
 * @file
 * Home page Slider block template.
 *
 * @ingroup themeable
 */
#}

<section {{ attributes.addClass('foto-slider') }}>
    <div class="foto-slider-wr">
      <ul class="foto-list">
        {{ content.field_slider_items }}
      </ul>
    </div>
</section>
