<section class="footer-2">
    <div class="main-footer-follow-us">
      <p>Follow us</p>
      <a href="#" class="social-link social-link--fb"></a>
      <a href="#" class="social-link social-link--inst"></a>
    </div>
    {% if content %}
        {{ content }}
    {% endif %}
</section>