{% if content %}
  {{ content }}
{% endif %}
<div class="main-footer-follow-us">
  <p>Follow us</p>
  <a href="#" class="social-link social-link--fb"></a>
  <a href="#" class="social-link social-link--inst"></a>
</div>