@media all and (min-width: 750px)
  .pet-info
    h2
      font-size: 32px

    li
      min-height: 500px

  .additional-info
    max-width: 500px

    .label
      font-size: 24px

  .block-item
    max-width: 420px

    h3
      font-size: 24px

    .label-tag
      font-size: 20px

  .help-pets, .see-more
    padding: 40px 0
    h2
      font-size: 24px

    .btn
      min-width: 150px
      font-size: 16px

  .help-pets
    .help-pets-inner
      max-width: 300px
